<!-- Start Footer Area  -->
<div class="footer-style-3">
    <div class="rn-callto-action rn-call-to-action style-8 content-wrapper">
        <div class="container">
            <div class="row row--0 align-items-center ">
                <div class="col-lg-12">
                    <div class="inner">
                        <div class="content text-center">
                            <h2 class="title">Ready to get a Database copy?</h2>
                            <h6 class="subtitle">Make the greatest choice of your life &amp; call us.</h6>
                            <div class="call-to-btn text-center mt--30"><a class="btn-default btn-icon" target="_blank"
                                    href="tel:254701628981">Call Us<i
                                        class="icon feather-phone"> </i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area copyright-style-one variation-two">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-7 col-sm-12 col-12">
                    <div class="copyright-left">
                        <ul class="ft-menu link-hover">
                            <li><a href="{% url 'Projects:contact' %}">Privacy Policy</a></li>
                            <li><a href="{% url 'Projects:contact' %}">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 mt_sm--20">
                    <div class="copyright-center text-center">
                        <ul class="social-icon social-default color-lessdark justify-content-center">
                            <li data-sal="slide-up" data-sal-duration="400" data-sal-delay="200"><a target="_blank"
                                    href="https://web.facebook.com/Computer-pp3-104173985620747/">
                                    <i class="feather-facebook"></i>
                                </a>
                            </li>
                            <li data-sal="slide-up" data-sal-duration="400" data-sal-delay="300"><a target="_blank"
                                    href="https://web.facebook.com/Computer-pp3-104173985620747">
                                    <i class="feather-twitter"></i>
                                </a>
                            </li>
                            <li data-sal="slide-up" data-sal-duration="400" data-sal-delay="400"><a target="_blank"
                                    href="https://web.facebook.com/Computer-pp3-104173985620747/">
                                    <i class="feather-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt_md--20 mt_sm--20">
                    <div class="copyright-right text-center text-lg-right">
                        <p class="copyright-text">Copyright All rights reserved © 2022 PnJKenya.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+(254)701628981", // WhatsApp number
            call_to_action: "Message us", // Call to action
            button_color: "#FF6550", // Color of button
            position: "left", // Position may be 'right' or 'left'
            pre_filled_message: "Hello, I am interested in your ms access database.", // WhatsApp pre-filled message
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>

</div>
<!-- End Footer Area  -->